.hero {
  background-color: rgb(252, 252, 252);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_info {
  display: flex;
  align-items: center;
  gap: 8rem

}

.avatar {
  width:350px;
  height: 350px;
  border-radius: 9999px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 9rem;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: rgb(15, 113, 179)

}